.d-o-w-nbh
  %h2 By Neighborhood
  %ul.year-switch
    %li
      %button.active.year-change(data-year="2012") 2012
    %li
      %button.year-change(data-year="allTime") All-time
  #day-of-week-nbhd.d-o-w
= partial "partials/modal"
