.day-of-week
  #day-of-week
  %script(id="day-of-week-popup" type="text/x-handlebars-template")
    <div class='date'>
    <h4><%= dayOfWeek %>, <%= hour %></h4>
    </div>
    <div class='count'>
    <h5><%= dataCount %></h5>
    </div>
