#districts
  %h2 Districts
  .content
    %p The two districts with the most crimes are District 2 and District 3. 
  .graph
    %h4 2012 Council District crimes (per 100.000 residents)
    .per_district
